<%= no_cache %>
<h1 class="page-header">
	更新財產資料
	<%= link_to admin_items_path, class: "btn btn-link" do %>
  	<i class="fa fa-reply"></i>
  	<%= t "back" %>
  <% end %>
</h1>
<div class="mx-auto">
  <%= render "form" %>
</div>