<h1 class="page-header">
  <%= t "admin.items.new.header" %>
  <%= link_to admin_items_path, class: "btn btn-link btn-xs-sm" do %>
  	<i class="fa fa-reply"></i>
  	<%= t "back" %>
  <% end %>
</h1>

<%= render "form" %>