<tr class="clickable ajax-trigger <%= department_color(department) %>" <%= ajax_modal(department, "edit", namespace: :admin) %>>
  <td><%= department.name %></td>
  <td><%= department.employees.size %></td>
</tr>