<h1 class="page-header">
  <%= t ".header" %>
  <%= link_to upload_admin_employees_path, class: "btn btn-primary pull-right", data: { toggle: "modal", target: "#uploadEmployees" } do %>
    <i class="fa fa-plus"></i>
    上传人事资料
  <% end %>
</h1>

<%= render layout: "admin/common/modal", locals: { modal_id: "uploadEmployees", title: "请选择人事表", btn: "开始上传" } do %>
  <% form_tag upload_admin_employees_path, multipart: true do %>
    <% file_field_tag :employee_file %>
  <% end %>
<% end %>

<div class="mx-auto">
  <%= render "form", employee: @employee %>
</div>