<%= link_to items_path, class: "col-xs-12 col-sm-6" do %>
  <div class="img-mask"></div>
  <%= image_tag "assets-cover2.jpg", class: "img-responsive" %>
  <h3 class="dock-title content">財產管理</h3>
<% end %>

<%= link_to employees_path, class: "col-xs-12 col-sm-6" do %>
  <div class="img-mask"></div>
  <%= image_tag "assets-cover2.jpg", class: "img-responsive" %>
  <h3 class="dock-title content">人事管理</h3>
<% end %>