tbody.docs, tbody.folders {
	tr {
		cursor: pointer;
		&:hover {
			background: #F3F9FF;
		}
		&:active, &.selected, &.selected_by_param {
			background: #D9ECFF;
		}
		td {
			padding: 12px 15px;
		}
	}
}

#pdf-btns {
	text-align: right;
	&.fixed {
		position: fixed;
		right: 45px;
		top: 60px;
	}
}