@import "admin/variables";
.admin {
  nav.navbar-primary {
    margin-bottom: 0px;
    background-color: #fff;
    border-top: 6px solid $navbar-primary-bg;
    border-bottom: 1px solid $navbar-primary-bg;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    color: $navbar-primary-bg;
    @media only screen and (max-width: $grid-float-breakpoint - 1) {
      position: fixed;
      bottom: 0px;
      z-index: 999;
      width: 100%;
    }
    .navbar-brand {
      font-weight: bold;
      letter-spacing: 1px;
      color: $navbar-primary-bg;
    }

    .navbar-toggle {
      border-color: #eee;
      & .icon-bar {
        background-color: #ddd;
      } 
    }

    .navbar-collapse {
      @media only screen and (min-width: $grid-float-breakpoint) {
        // 桌面版
        li.dropdown {
          & > .dropdown-toggle,
          & > ul.dropdown-menu a {
            padding: 15px;
            &:hover, &:focus {
              background-color: $navbar-primary-color !important;
            }
          }
          & > .dropdown-toggle {
            color: $navbar-primary-bg;
          }
          & > ul.dropdown-menu a {
            color: $navbar-primary-bg;
          }
        }
      }
      // 共用
      ul.dropdown-menu {
        min-width: 130px;
      }
    }

    li.dropdown-search-wrapper {
      @media only screen and (min-width: $grid-float-breakpoint) {
        width: 500px;
      }
      div.form-group {
        display: inline-block;
        width: calc(100% - 61px);
      }
      input {
        width: 100%;
      }
      button.btn-primary {
        border-color: white;
      }
    }
    input {
      border-radius: 0px;
    }
    .btn {
      border-width: 2px !important;
    }
  }
}