$grid-float-breakpoint: 769px;

$navbar-primary-color: #f5f5f5;
$navbar-primary-bg: dodgerblue;
$semi-navbar-primary-bg: darken(dodgerblue, 5%);

$brand-primary: dodgerblue;
$semi-primary-color: darken(dodgerblue, 5%);
$brand-success: #5cd85c;

// alert-success
$state-success-text: #f5f5f5;
$state-success-bg: hsla(210, 100%, 70%, 1);
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%);

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;

$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  4: (
    x: ($spacer-x * 4.5),
    y: ($spacer-y * 4.5)
  ),
  5: (
    x: ($spacer-x * 6),
    y: ($spacer-y * 6)
  )
) !default;