default: &default
  timeout: 5000
  adapter: postgresql
  encoding: utf8
  pool: <%= ENV.fetch(“RAILS_MAX_THREADS”) { 5 } %>
development:
  <<: *default
  database: sjz_development
test:
  <<: *default
  database: sjz_test
production:
  <<: *default
  database: <%= ENV[‘PG_DBNAME’] %>
  username: <%= ENV[‘PG_USERNAME’] %>
  password: <%= ENV[‘PG_PASSWORD’] %>