<div class="col-xs-12 mb-5">
	<h4 class="mt-5 text-danger">以下预览可能会出现格式、内容与原始档案不同的情况，请以原始档案为主。</h4>
	<iframe width="100%" height="800" frameborder="0" scrolling="no" src="<%= @doc.office_embed_url %>&wdDownloadButton=True"></iframe>
</div>