<%= no_cache %>
<h1 class="page-header mt-1 mb-2">
	更新財產資料
	<%= link_to items_path, class: "btn btn-link" do %>
  	<i class="fa fa-reply"></i>
  	返回
  <% end %>
</h1>
<div class="mx-auto">
  <%= render "form" %>
</div>