<h1 class="page-header mt-1 mb-2">
  財產總覽
  <%= link_to new_item_path, class: "btn btn-primary pull-right" do %>
    <i class="fa fa-plus"></i>
    登錄財產
  <% end %>
  <%= link_to items_path(format: :xls), class: "btn btn-success pull-right mr-1" do %>
    <i class="fa fa-arrow-circle-down"></i>
    導出 CSV
  <% end %>
</h1>

<%= render @items %>