<h1 class="page-header">
  登記財產
  <%= link_to items_path, class: "btn btn-link btn-xs-sm" do %>
  	<i class="fa fa-reply"></i>
  	返回
  <% end %>
  <%= link_to upload_items_path, class: "btn btn-primary pull-right", data: { toggle: "modal", target: "#uploadItems" } do %>
    <i class="fa fa-plus"></i>
    上傳資產表
  <% end %>
</h1>

<%= render "common/modal", modal_id: "uploadItems", title: "請選擇資產表", btn: "開始上傳" do %>
  <% form_tag upload_items_path, multipart: true do %>
    <% file_field_tag :item_file %>
  <% end %>
<% end %>

<%= render "form" %>