body, html {
  font-family: "Microsoft YaHei",Helvetica,"Meiryo UI","Malgun Gothic","Segoe UI","Trebuchet MS",Monaco,monospace,Tahoma,STXihei,"华文细黑",STHeiti,"Helvetica Neue","Droid Sans","wenquanyi micro hei",FreeSans,Arimo,Arial,SimSun,"宋体",Heiti,"黑体","Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei",sans-serif;
}

.text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-y: hidden;
}

// @media print
// {
//   * {
//     display: none !important;
//   }  
//   .printable, .printable * {
//     display: block !important;
//   }
// }

.clickable {
  cursor: pointer;
}

.turbolinks-progress-bar {
  height: 2px;
  background-color: white;
}

.img-wrapper {
  width: 100%;
  padding-bottom: 56.25%; // 9/16*100%;
  position: relative;
  img {
    position: absolute;
  }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea.form-control {
  font-size: 16px;
}

input.select2-search__field {
  font-size: 16px !important; 
}