@import "variables";

body, html {
  font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-y: hidden;
}

// @media print
// {
//   * {
//     display: none !important;
//   }  
//   .printable, .printable * {
//     display: block !important;
//   }
// }

.clickable {
  cursor: pointer;
}

.turbolinks-progress-bar {
  height: 2px;
  background-color: red;
}

#ajax-appetizer {
  position: fixed;
  top: 0;
  padding: 15%;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
}

.img-wrapper {
  width: 100%;
  padding-bottom: 56.25%; // 9/16*100%;
  position: relative;
  img {
    position: absolute;
  }
}

.flex-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .img-mask {
    position: absolute;
    width: 100%;
    padding-bottom: 66.8%; // 看圖片比例，所以上傳的時候要固定
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}


input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea.form-control {
  font-size: 16px;
}

input.select2-search__field {
  font-size: 16px !important; 
}