<tr class="folder" data-folder-id="<%= folder.id %>">
  <td><i class="fa fa-folder-o"></i> <%= folder.name %></td>
  <td><%= folder.updated_at.strftime("%F %T") %></td>
  <td>共 <%= folder.docs.size %> 個檔案</td>
</tr>